@media (max-width: 320px) {
  body {
    height: calc(100vh - 40px);
  }

  .margin {
    margin: 10px 5px;
  }

  .badge {
    height: 35px;
    width: 35px;
    margin-right: 0px;
  }

  h2 {
    font-size: 0.75rem;
    margin: 5px 0;
  }

  button {
    margin: 15px 0;
    border-radius: 3%;
  }

  input {
    font-size: 1rem;
    border-bottom: orange 2px solid;
  }

  #input__text {
    font-size: 1rem;
    padding: 0px;
    /*color: orange;
    background-color: transparent;
    border-bottom: orange 3px solid;*/
    width: 100%;
  }

  #input__div {
    display: flex;
    flex-direction: column;
  }

  #output__div {
    margin: 15px 0;
  }

  #slider__div {
    margin: 5px;
  }

  datalist {
    padding: 0;
    font-size: 0.75rem;
  }

  option {
    padding: 0;
  }
}
